<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.png" alt="Company Logo" />
    <h4>Fashions</h4>
  </div>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  &nbsp;&nbsp; &nbsp; <a mat-list-item routerLinkActive="list-item-active" routerLink="/products" ><i class="fas fa-gift me-2"> </i> &nbsp; &nbsp; &nbsp; Products </a>
  <a mat-list-item  routerLinkActive="list-item-active" routerLink="/admins"> <mat-icon>supervisor_account</mat-icon> Admins </a>
  &nbsp;  &nbsp;&nbsp;  &nbsp; <a mat-list-item  routerLinkActive="list-item-active" routerLink="/reports" > <i class="fas fa-paperclip me-2"></i>&nbsp; &nbsp; &nbsp; Reports </a>

</mat-nav-list>
