<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.png" alt="Company Logo" />
    <h4>Fashions</h4>
  </div>
  <mat-divider></mat-divider>

 
 
  &nbsp;&nbsp; &nbsp; <a mat-list-item routerLinkActive="list-item-active" routerLink="/products" ><i class="fas fa-gift me-2"> </i> &nbsp; &nbsp; &nbsp; Products </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/categories"> <mat-icon>calendar_view_day</mat-icon> Categories </a>

  &nbsp;  &nbsp;&nbsp;  &nbsp; <a mat-list-item  routerLinkActive="list-item-active" routerLink="/reports" > <i class="fas fa-paperclip me-2"></i>&nbsp; &nbsp; &nbsp; Reports </a>

</mat-nav-list>
