<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Register</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="py-1 mt-1 ">
      <div class="container">
        <div class="image"> <img src='https://drive.google.com/uc?export=view&id=1bx9cBdtjUJR7uq2fwHJPv-u80IBQCuFU'>
        </div>
        <form  class="Register-box" formGroup="UserRegister">
          <div class="form-data">
            <h2>Registration Form</h2>
            <div class="box"> <input type="text" required formControlName="userName" name="username">
              
              <label>Username</label> <i class="fas fa-user"></i>
              <span></span>
            </div>
            <div class="box"> <input type="text" required formControlName="email"> <label>Email</label> <i class="fas fa-envelope"></i>
              <span></span>
            </div>
            <div class="box"> <input type="text" required formControlName="phoneNumber"> <label>Mobile Number</label> <i
                class="fas fa-mobile-alt"></i> <span></span> </div>
            <div class="box"> <input type="text" required formControlName="password"> <label>Password</label> <i class="fas fa-lock"></i>
              <span></span>
            </div>
            <div class="box"> <input type="text" required formControlName="confirm"> <label>Re-Enter Password</label> <i class="fas fa-lock"></i>
              <span></span>
            </div> <input type="submit" value="Register Now">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

