<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Login</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="py-1 mt-1">
            <div class="login_container">
                <div class="image_container">
                    <img src='https://drive.google.com/uc?export=view&id=1iyKZ5h_2nzBz_lGkMKFtj_d7teT6jADO ' />
                </div>
                <div class="login_form_container">
                 <form  [formGroup]="Login" >
                    <div class="container">
                        <h3>Login</h3>
                        
                        <div class="input_container">
                            <input type="text" placeholder="username"   [class.is-invalid]="Login.get('username')?.invalid && Login.get('username')?.touched "/>
                            <small class="text-danger" [class.d-none]="Login.get('username')?.valid || Login.get('username')?.untouched">Frist
                                Nameis required</small>

                            <i class="fas fa-envelope"></i>
                            <div class="border_animation"></div>
                        </div>
                        <div class="input_container">
                            <input type="password" placeholder="Password" [class.is-invalid]="Login.get('Password')?.invalid && Login.get('Password')?.touched "/>
                            <small class="text-danger" [class.d-none]="Login.get('Password')?.valid || Login.get('Password')?.untouched">Password
                                 is required</small>

                            <i class="fas fa-lock"></i>
                            <div class="border_animation"></div>
                        </div>
                        <button>Login</button>
                        <!-- <div class="create_new_account"> create new Account ? <a routerLink="/register">Sign Up</a> -->
                        <!-- </div> -->
                    </div>
                 </form>
                </div>
            </div>
        </div>
    </div>
</div>
